# Bytes
__pycache__/
*.py[cod]
*$py.class

# Ctypes
*.so
*.dll

# Distribution / Build
build/
dist/
*.spec
*.exe
*.app

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode
.idea/

# Testing
.pytest_cache/
htmlcov/
.coverage

# CipherVault
*.key
*.enc
*.dec
